<section>
  <%= section.name %>
  <br>
  <%= section.extra_price %>
  <br>
  
    <% section.questions.each do |question| %>
      <%= render "client_forms/question_types/#{question.answer_type}", question: question, f: f %>
    <% end %>
    
</section>
<hr>