<div class="field">
  <%= f.label question.question %>
  <%= f.collection_check_boxes( question.question, question.posible_answer, :id, :answer, checked: @client_form.properties[question.question].reject(&:empty?).map(&:to_i)) do |b| %>
    <% b.label { b.check_box + b.text } %>
  <% end %>
</div>