<div class="field">
<%=  @client_form.properties[question.id.to_s] %>
  <%= f.label question.id, question.question %>
  <%= f.collection_select( question.id, question.posible_answer, :id, :answer, selected: @client_form.properties[question.id.to_s]) %>
</div>