<div class="field">
  <%= f.label question.id, question.question %>
  <%= f.date_field question.id, value: @client_form.properties? ? @client_form.properties[section.id.to_s][question.id.to_s] : "", min: Date.today %>
</div>