<div class="field">
    <%= f.label question.id, question.question %>
    <%= f.number_field question.id %>
    <br>
    <%= question.posible_answer.map{|x| p x.answer}%>
    <br>
    <%= question.posible_answer.map{|x| p x.info} %>
</div>